@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic');


*{
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #44464f
}


a {
    color:#86c043;
}

.wrapper {
    max-width: 1262px;
    margin: 0 auto;
}

 
                  /* HEADER___________________________________________________________*/
#header {
    padding: 15px 0 10px;
}

#header .wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.header-logo, .header-adress, .header-contact, .header-getprice {
    float: left;
}


.header-logo {
    margin-right: 93px;
}


.header-adress {
    margin-top: 25px;
    padding-left: 30px;
    background: url('img/adress-i.png') no-repeat left top;
    font-style:normal;
    margin-right: 110px;
    font-size: 18px;
}


.header-contact {
    margin-top: 20px;
    
}


.header-contact-phone, .header-contact-email {
    display:block;
    text-decoration: none;
}

.header-contact-phone {
    color: #44464f;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    padding-left: 30px;
}


.header-contact-phone::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    display: block;
    width: 20px;
    height: 19px;
    background: url('img/phone-ii.png') no-repeat center center;
}



.header-contact-email {
    
    
    font-size: 16px;
    padding-left: 30px;
    background: url('img/phone-i.png') no-repeat left center;
    line-height: 16px;
}


.header-contact{
    margin-right: 110px;

}

.header-getprice-botton {
    background: #86c043 url('img/price-i.png') no-repeat 35px center;
   
    color:#ffffff;
    font-size: 16px;
    text-align: center;
    height: 55px;
    line-height: 55px;
    width: 220px;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    padding-left: 30px;
    box-sizing: border-box;
    
}

.header-getprice {
    margin-top: 20px;
    float: right;
}

.header-bottom .wrapper {
    border-top: 1px solid #cbcccd;
}

.header-bottom-menu:after {
    content: '';
    display: block;
    clear: both;
}

.header-bottom-menu li a {

display: block;
float: left;
height: 68px;
line-height: 68px;
padding: 0 30px;
text-decoration: none;
color: #44464f;
text-transform: uppercase;
text-align: center;
}



.header-bottom-menu li.home a {
    background: url('img/home-i.png') no-repeat 18px center;
    padding-left: 50px;
    
}
.header-bottom-menu li.current a {
    background-color: #ffd307;
    position: relative;
    top: -1px;
    border-bottom: 1px solid #ffd307;

}
.header-bottom-menu li a:hover {
    color: #ffffff;
    background-color: #86878e;
}


/* SLIDER____________________________________________________________*/ 

.home-slider .slide {
   height: 500px;
   background: url('img/slide1.jpg') no-repeat center center;
   padding: 130px 0 0 260px;
   box-sizing: border-box;
}

.home-slider .slide .slide-title {
 color: #86c043;
 font-size: 56px;
 text-shadow:  1px 1px 0px rgba(68,  70, 79, 1);
 font-weight: 900;
 text-transform: uppercase;
  line-height: 1.05;
  margin:0 0 10px 0;
  

}

.home-slider .slide .slide-discr{
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}

/*НАША ПРОДУКЦИЯ__________________________________________________-*/

.home-news {
margin-bottom: 60px;
}

.home-news-title {
    text-align: center;
    color: #86c043;
    font-size: 56px;
}

.home-news-container {
    display: flex;
    justify-content: space-between;
}
.home-news-container-item {
    width: 403px;
    background: #f5f6f8;
    -webkit-box-shadow: 0px -2px 17px -1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px -2px 17px -1px rgba(0,0,0,0.15);
-ms-box-shadow: 0px -2px 17px -1px rgba(0,0,0,0.15);
-o-box-shadow: 0px -2px 17px -1px rgba(0,0,0,0.15);
box-shadow: 0px -2px 17px -1px rgba(0,0,0,0.15);
} 
.home-container-item-title {
    display: block;
    text-decoration: none;
    padding: 25px;
    font-size: 16pt;
    font-weight: bold;
}


.home-container-item-text {
    
    padding: 0 25px 25px;
}

/*FOOTER______________________________________________________________________*/


footer {
    background: #689434;
    color: white;
    
    
    
}

.footer-logo img {
    padding-top: 30px;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
   
    width: 320px;
    padding-right: 100px;
   
}


 .footer-menu, .footer-news, .footer-contact {
     padding-top: 58px;
 }


 .footer-menu {
    padding-right: 85px;
     padding-bottom: 90px;
     
 }


 .footer-news {
     width: 279px;
 }


 .footer-contact {
     width: 279px;

 }


 .footer-col-title {
     color:#cdbe16;
     font-size: 18pt;
     margin:0;
     text-transform: uppercase;
     
     
     
 }

 .footer-menu nav li {
     padding-top: 35px;
 }

.footer-blog-title {
    color: white;
    font-size: 12pt;
    
    text-decoration: none;

    
}

.footer-news time {
    color: black;
}

.footer-blog li {
    
    display: flex;
    padding-top: 30px;
    height: 75px;
}



.footer-blog-image {
    padding-right: 20px;
    padding-bottom: 25px;
}



.footer-menu  {
    text-transform: uppercase;

}

.footer-menu li a{
    text-decoration: none;
    color: white;
}

.footer-phone {
    color: white;
    padding-left: 30px;
    background: url(img/phone-ii.png) no-repeat left top;
    display: block;
    padding-bottom: 30px;
}



 .footer-contact .footer-col-title {
     padding-bottom: 30px;
 }



 
.footer-adress {
    padding-left: 30px;
    display: block;
    background: url(img/adress-i.png) no-repeat left top;
    padding-bottom: 30px;
}

.footer-email {
    color: #cdbe16;
    padding-left:30px;
    background: url(img/gmail-i.png) no-repeat left center;
    display: block;
    
}

.footer-worktime {
    padding-left: 30px;
    margin-top: 30px;
    background: url(img/clock-i.png) no-repeat left center;
    display: block;
}


